@forward '~normalize.css';
@forward 'typography';

@use '@/styles/palette.module' as palette;

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

b,
strong,
mark {
  font-weight: 700;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: palette.$graphite;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.ReactModal {
  &__Overlay {
    &--after-open {
      opacity: 1 !important;
    }

    &--before-close {
      opacity: 0 !important;
    }
  }

  &__Content {
    &--after-open {
      transform: perspective(60rem) translateY(0%) rotateX(0deg) !important;
    }

    &--before-close {
      transform: perspective(60rem) translateY(-100%) rotateX(45deg) !important;
    }
  }
}
